<div class="card">
  <div class="card-header">
    <h5 class="mb-0">
      Gestion des éducations
    </h5>
  </div>
  <div class="card-body">
    <button type="button" class="btn btn-success" (click)="onNewEducation()">New Education</button>
    <button type="button" class="btn btn-primary" (click)="onSaveEducationsData()">Save Data</button>
    <button type="button" class="btn btn-primary" (click)="onFetchEducationsData()">Fetch Data</button>
  </div>
  <div class="row">
    <div class="col-xl-7">
      <div class="list-group" id="list-tab" role="tablist">
        <!--  *ngFor="let institutEl of instituts; let i=index" -->
          @for(institutEl of instituts; track $index)
        {<app-education-item [institut]="institutEl" [index]="$index">
        </app-education-item>}
      </div>
    </div>

    <div class="col-xl-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
