<section class="about-section" id="about">
  <div class="about-content">

    <h1 class="about-name">
      {{ user.prenom }}
      <span>{{ user.nom }}</span>
    </h1>

    <div class="about-contact">
      <span>{{ user.adresse | translateField }}</span>

      @if (user.numero) {
        <span class="separator">-</span>
        <span>{{ user.numero.toString() }}</span>
      }

      <span class="separator">-</span>

      <a [href]="'mailto:' + user.email">
        {{ user.email }}
      </a>
    </div>

    <div class="about-description">
      <h1>
        {{ user.detail | translateField }}
      </h1>
    </div>

    <div class="about-actions">

      <a
        nz-button
        nzType="primary"
        nzSize="large"
        target="_blank"
        [attr.href]="'//' + (user.cvUrl | translateField)"
      >
        <span
          nz-icon
          nzType="file-pdf"
          nzTheme="fill"
          class="cv-icon"
        ></span>

        {{ cvBtnLabel | translate }}
      </a>

    </div>

    <div class="social-icons">

      <a
        [attr.href]="'//' + user.linkedinUrl"
        target="_blank"
        title="LinkedIn"
        aria-label="LinkedIn"
      >
        <span
          nz-icon
          nzType="linkedin"
          nzTheme="fill"
        ></span>
      </a>

      <a
        [attr.href]="'//' + user.githubUrl"
        target="_blank"
        title="GitHub"
        aria-label="GitHub"
      >
        <span
          nz-icon
          nzType="github"
          nzTheme="fill"
        ></span>
      </a>

    </div>

  </div>
</section>