<!--  *ngIf="isAdmin; else defaultExperienceTemplate" -->
@if (isAdmin()) {
  <ng-container>
    <app-experience-list></app-experience-list>
  </ng-container>
}
@else {
  <!-- <ng-template #defaultExperienceTemplate> -->
    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>
        <!-- *ngFor="let experience of experiences" -->
        @for(experience of experiences; track $index){<div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5"
          >
          <div class="resume-content">
            <h3 class="mb-0">{{ experience.nomExperience }}</h3>
            <div class="subheading mb-3">{{ experience.societe }}</div>
            <p style="white-space: pre-line;text-align: justify;text-justify: inter-word;">
              {{ experience.description }}
            </p>
            <p ng-if="experience.urlDescription != null">{{ experience.urlDescription }}</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">{{ experience.adresse }},&nbsp;</span><br/>
            <span class="text-primary">{{ experience.dateDebut }} - {{ experience.dateFin }}</span>
          </div>
        </div>}
      </div>
    </section>
    <hr class="m-0">
  <!-- </ng-template> -->
}
