@if (isAdmin()) {
<ng-container>
  <app-experience-list></app-experience-list>
</ng-container>
}
@else {
<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
  <div class="w-100">
    <h2 class="mb-5">Experience</h2>
    <nz-timeline [nzMode]="'left'">

      @for(experience of experiences; track $index){

      <nz-timeline-item [nzLabel]="label" id="$index">
        <div class="card" style="padding-top: 2px;padding-bottom: 60px;padding-left: 16px;padding-right: 16px;">
          @for (item of experience.description.split('-'); track $index) {
            <p style="white-space: pre-line;text-align: justify;text-justify: inter-word;"> {{ item.length > 1 ? '-' : null }} {{ item }} </p>
          }
          @if(experience.urlDescription != null && experience.urlDescription != '')
          {
            <p>
                - <a  target="_blank" [attr.href]="'//' + experience.urlDescription.split('https:')[1]">Description</a>
            </p>
          }
        </div>
      </nz-timeline-item>

      <ng-template #label id="label_$index">
        <div class="card"  style="padding: 2px 16px;">
          <div class="resume-content">
            <h3 class="mb-0">{{ experience.nomExperience }}</h3>
            <div class="subheading mb-3">Société: {{ experience.societe }}</div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Adresse: {{ experience.adresse }},&nbsp;</span><br/>
            <span class="text-primary">{{ experience.dateDebut }} - {{ experience.dateFin ? experience.dateFin : 'Présent' }}</span><br/>
            <span class="text-primary">Expérience: {{ calcDate(experience.dateDebut, experience.dateFin)?.result }}</span>
          </div>
        </div>
      </ng-template>
      }
    </nz-timeline>
  </div>
</section>
}