<a
  [routerLink]="[index()]"
  routerLinkActive="selected"
  class="skill-item"
>
  <div class="skill-main">

    <div class="skill-title">
      <h4>
        {{ competence()?.nomCompetence }}
      </h4>

      <span class="skill-level">
        {{ competence()?.niveau | translateField }}
      </span>
    </div>

    <div class="skill-description">
      {{ competence()?.description | translateField }}
    </div>

  </div>

  <span
    nz-icon
    nzType="right"
    nzTheme="outline"
    class="skill-arrow"
  ></span>

</a>