<nav class="navbar navbar-expand-lg navbar-dark fixed-top" [ngClass] = "{ 'bg-primary' : isAuthenticated(), 'bg-primary2' : !isAuthenticated() }" id="sideNav">
  <a class="navbar-brand js-scroll-trigger" href="#page-top">
    <span class="d-block d-lg-none">Ben taleb ali Marwen</span>
    <span class="d-none d-lg-block">
      <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="../assets/profile.jpg" alt="">
    </span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <ng-template [ngIf]="!isAuthenticated()">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link js-scroll-trigger" routerLink="/about">À propos</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link js-scroll-trigger" routerLink="/experiences">Expérience</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link js-scroll-trigger" routerLink="/educations">Éducation</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link js-scroll-trigger" routerLink="/skills">Compétences</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link js-scroll-trigger" routerLink="/interests">Intérêts</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link js-scroll-trigger" routerLink="/awards">Formation</a>
        </li>
      </ng-template>
      <ng-template [ngIf]="isAuthenticated()">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link js-scroll-trigger" routerLink="admin/experiences">Gestion d'experience</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link js-scroll-trigger" routerLink="admin/educations">Gestion d'education</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link js-scroll-trigger" routerLink="admin/skills">Gestion compétence</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link js-scroll-trigger" routerLink="admin/awards">Gestion de formation</a>
        </li>
        <li>
          <button class="btn btn-danger waves-effect waves-light" (click)="onLogout()" *ngIf="isAuthenticated()">Logout</button>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
