<nz-sider
  nzCollapsible
  [style.background-color]="isAuthenticated() ? '#b45309' : '#1c3381'"
>
  <!-- Public menu -->

  <div class="logo" style="text-align: center">
    <a href="#page-top">
      <nz-avatar
        nzIcon="user"
        [nzShape]="'circle'"
        [nzSize]="140"
        width="200px"
        height="200px"
        nzSrc="assets/images/profile.jpg"
        alt="image1234"
      ></nz-avatar>
      <!-- <h1>Ben taleb ali MARWEN</h1> -->
    </a>
  </div>
  <ul
  nz-menu
  nzTheme="dark"
  nzMode="inline"
  [style.background-color]="isAuthenticated() ? '#b45309' : '#1c3381'"
>
    @if (!isAuthenticated()) {
      @for (item of menu; track $index) {
        <li nz-menu-item>
          <a routerLink="{{ item.routerLink }}">
            <!-- <i [innerHTML]="sanitizedSvg(item.icon)"></i> -->
            <span
              nz-icon
              nzType="{{ item.iconName }}"
              nzTheme="outline"
              style="font-size: 24px"
            ></span>
            <span>{{ item.label | translate }}</span>
          </a>
        </li>
      }
    }

    <!-- Admin menu -->

    @if (isAuthenticated()) {
      <li nz-menu-item routerLinkActive="ant-menu-item-selected">
        <a routerLink="admin/experiences">
          <span nz-icon nzType="solution" nzTheme="outline"></span>
          <span>Gestion d'expérience</span>
        </a>
      </li>

      <li nz-menu-item routerLinkActive="ant-menu-item-selected">
        <a routerLink="admin/educations">
          <span nz-icon nzType="read" nzTheme="outline"></span>
          <span>Gestion d'éducation</span>
        </a>
      </li>

      <li nz-menu-item routerLinkActive="ant-menu-item-selected">
        <a routerLink="admin/skills">
          <span nz-icon nzType="tool" nzTheme="outline"></span>
          <span>Gestion des compétences</span>
        </a>
      </li>

      <li nz-menu-item routerLinkActive="ant-menu-item-selected">
        <a routerLink="admin/awards">
          <span nz-icon nzType="trophy" nzTheme="outline"></span>
          <span>Gestion des formations</span>
        </a>
      </li>

      <li nz-menu-item class="logout-menu-item" (click)="onLogout()">
        <span nz-icon nzType="logout" nzTheme="outline"></span>
        <span>Logout</span>
      </li>
    }
  </ul>
</nz-sider>
