<!--  *ngIf="isAdmin; else defaultProjectTemplate" -->
@if (isAdmin()) {
  <ng-container>
    <app-project-list></app-project-list>
  </ng-container>
}
@else {
  <!-- <ng-template #defaultProjectTemplate> -->
    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="project">
      <div class="w-100">
        <h2 class="mb-5">Projets</h2>
        <div class="container">
          <!--  class="row justify-content-md-center" -->
          <div nz-row [nzGutter]="[16, 16]">
            <!--  *ngFor="let project of projects" -->
            @for(project of projects; track $index){
              <!--  class="col col-lg-4" -->
            <div nz-col nzSpan="6">
              <!-- <div class="card mb-5 cardBorder" style="width: 100%; height: 31rem"> -->
                <!--  [nzExtra]="extraTemplate" -->
                <nz-card style="width:100%;" [nzActions]="[actionSetting, actionEdit]">
                <img class="card-img-top img-responsive" style="object-fit: contain; max-height: 180px" [src]="project.urlImage"
                  alt="image project.nomProjet" alt="project.nomProjet">
                <div class="card-body">
                  <h3 nz-typography class="card-title mb-0">{{ project.nomProjet }}</h3>
                  <!-- <p> -->
                  <!-- <span class="text-primary text-muted"></span> -->
                  <!-- </p> -->
                    <nz-tag [nzColor]="'blue'" style="font-size: 14px;margin-bottom: 6px;" >
                      <!--  class="card-title mb-0" -->
                      {{ project.dateDebut }} - {{ project.dateFin }}
                      </nz-tag>
                  <p nz-typography nzEllipsis nzExpandable [nzEllipsisRows]="3">
                    {{ project.description }}
                  </p>
                  <h5>
                    @for (outil of project.outils; track $index) {
                      <!-- <span calss="badge badge-info ml-2"></span> -->
                      <nz-tag [nzColor]="'#2db7f5'" style="margin-bottom: 6px;">{{ outil }}</nz-tag>
                    }
                  </h5>
                </div>
                <div class="card-footer bg-transparent" style="border: none">

                  
                  

                </div>
              </nz-card>
              <ng-template #actionSetting>
                @if(project.urlCodeSorce != null)
                { 
                  <!-- class="card-link btn-outline-info" -->
                  <a  nz-button nzType="primary" [nzSize]="'default'" nzGhost [attr.href]="project.urlCodeSorce" target="_blank" [title]="'Mon profil github'"
                  style="padding-left: 6px;"
                  >Code source 
                  <span nz-icon nzType="code" nzTheme="outline"></span>
                </a>
                }
              </ng-template>
              <ng-template #actionEdit>
                @if(project.urlDemoEnLigne != null)
                {
                  <!-- class="card-link btn-outline-info" -->
                  <a  nz-button nzType="primary" [nzSize]="'default'" nzGhost [attr.href]="project.urlDemoEnLigne" target="_blank" [title]="'Demo enligne'">
                  Demo enligne <span nz-icon nzType="link" nzTheme="outline"></span>
                  </a>}
              </ng-template>
              <!-- </div> -->
            </div>
            }
          </div>
        </div>
      </div>
    </section>
    <hr class="m-0">
  <!-- </ng-template> -->
}