@if (isAdmin()) {
  <ng-container>
    <app-project-list></app-project-list>
  </ng-container>
}
@else {
  <section class="resume-section" id="project">
    <div class="projects-content">

      <h2 class="projects-title">
        {{ pageName | translate }}
      </h2>

      <div nz-row [nzGutter]="[16, 16]">

        @for (project of projects; track $index) {

          <div
            nz-col
            [nzXs]="24"
            [nzSm]="12"
            [nzMd]="8"
            [nzLg]="6"
            [style.--animation-delay]="($index * 100) + 'ms'"
          >

            <nz-card
              class="card"
              [nzActions]="[actionSetting, actionEdit]"
            >

              <!-- Project image -->
              <img
                class="card-img-top"
                [src]="project.urlImage"
                [alt]="project.nomProjet + '-image'"
              >

              <!-- Project content -->
              <div class="card-content">

                <!-- Project title -->
                <h3
                  nz-typography
                  class="card-title"
                >
                  {{ project.nomProjet }}
                </h3>

                <!-- Project dates -->
                <nz-tag
                  [nzColor]="'blue'"
                  class="project-date"
                >
                  {{ project.dateDebut }} - {{ project.dateFin }}
                </nz-tag>

                <!-- Project description -->
                <p class="project-description">
                  {{ project.description | translateField }}
                </p>

                <!-- Project tools -->
                <div class="project-tools">
                  @for (outil of project.outils; track $index) {
                    <nz-tag [nzColor]="'#2db7f5'">
                      {{ outil }}
                    </nz-tag>
                  }
                </div>

              </div>

            </nz-card>

            <!-- GitHub button -->
            <ng-template #actionSetting>
              @if (project.urlCodeSorce != null) {
                <a
                  class="project-action"
                  nz-button
                  nzType="primary"
                  [nzSize]="'default'"
                  nzGhost
                  [attr.href]="project.urlCodeSorce"
                  target="_blank"
                  [title]="'Mon profil github'"
                >
                  {{ sourceCodeBtnLabel | translate }}

                  <span
                    nz-icon
                    nzType="code"
                    nzTheme="outline"
                  ></span>
                </a>
              }
            </ng-template>

            <!-- Online demo button -->
            <ng-template #actionEdit>
              @if (project.urlDemoEnLigne != null) {
                <a
                  class="project-action"
                  nz-button
                  nzType="primary"
                  [nzSize]="'default'"
                  nzGhost
                  [attr.href]="project.urlDemoEnLigne"
                  target="_blank"
                  [title]="'Demo enligne'"
                >
                  {{ onlineDemoBtnLabel | translate }}

                  <span
                    nz-icon
                    nzType="link"
                    nzTheme="outline"
                  ></span>
                </a>
              }
            </ng-template>

          </div>
        }

      </div>
    </div>
  </section>
}