<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="educationForm" (ngSubmit)="onSubmitEducation()">

      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!educationForm.valid">Enregistrer</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Institut:</label>
            <input type="text" formControlName="nom">
            <br>
            <!--  *ngIf="!educationForm.get('nom').valid &&
	  educationForm.get('nom').touched" -->
            @if(!educationForm.get('nom')?.valid &&
            educationForm.get('nom')?.touched){<span>S'il vous plaît entrer un nom d'institut valide!</span>}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Diplome:</label>
            <input type="text" formControlName="diplome">
            <br>
            <!--  *ngIf="!educationForm.get('diplome').valid &&
	  educationForm.get('diplome').touched" -->
            @if(!educationForm.get('diplome')?.valid &&
            educationForm.get('diplome')?.touched){<span>S'il vous plaît entrer un nom de diplome valide!</span>}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Date de début:</label>
            <input type="date" formControlName="dateDebut">
            <br>
            <!--  *ngIf="!educationForm.get('dateDebut').valid &&
	  educationForm.get('dateDebut').touched" -->
            @if(!educationForm.get('dateDebut')?.valid &&
            educationForm.get('dateDebut')?.touched){<span>S'il vous plaît entrer une date de début valide!</span>}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Date de fin:</label>
            <input type="date" formControlName="dateFin">
            <br>
            <!--  *ngIf="!educationForm.get('dateFin').valid &&
	  educationForm.get('dateFin').touched" -->
            @if(!educationForm.get('dateFin')?.valid &&
            educationForm.get('dateFin')?.touched){<span>S'il vous plaît entrer une date de fin valide!</span>}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Adresse:</label>
            <input type="text" formControlName="adresse">
            <br>
            <!--  *ngIf="!educationForm.get('adresse').valid &&
	  educationForm.get('adresse').touched" -->
            @if(!educationForm.get('adresse')?.valid &&
            educationForm.get('adresse')?.touched){<span>S'il vous plaît entrer une adresse valide!</span>}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Details:</label>
            <input type="text" formControlName="details">
            <br>
            <!--  *ngIf="!educationForm.get('details').valid &&
	  educationForm.get('details').touched" -->
            @if(!educationForm.get('details')?.valid &&
            educationForm.get('details')?.touched){<span>S'il vous plaît entrer une details valide!</span>}
          </div>
        </div>
      </div>

    </form>
  </div>
</div>