<a
  [routerLink]="[index()]"
  routerLinkActive="selected"
  class="education-item"
>

  <div class="education-main">

    <div class="education-title">
      <h4>
        {{ institut()?.diplome | translateField }}
      </h4>

      <span class="education-date">
        {{ institut()?.dateDebut }} - {{ institut()?.dateFin }}
      </span>
    </div>

    <div class="education-institution">
      <span
        nz-icon
        nzType="bank"
        nzTheme="outline"
      ></span>

      <span>
        {{ institut()?.nom }}
      </span>
    </div>

    <div class="education-address">
      <span
        nz-icon
        nzType="environment"
        nzTheme="outline"
      ></span>

      <span>
        {{ institut()?.adresse }}
      </span>
    </div>

  </div>

  <span
    nz-icon
    nzType="right"
    nzTheme="outline"
    class="education-arrow"
  ></span>

</a>