<div class="card">
  <div class="card-header">
    <h5 class="mb-0">
      Gestion des formations
    </h5>
  </div>
  <div class="card-body">
    <button type="button" class="btn btn-success" (click)="onNewFormation()">New Experience</button>
    <button type="button" class="btn btn-primary" (click)="onSaveFormationsData()">Save Data</button>
    <button type="button" class="btn btn-primary" (click)="onFetchFormationsData()">Fetch Data</button>
  </div>
  <div class="row">
    <div class="col-xl-7">
      <div class="list-group" id="list-tab" role="tablist">
        <app-award-item *ngFor="let formationEl of formations; let i=index" [formation]="formationEl"
          [index]="i">
        </app-award-item>
      </div>
    </div>

    <div class="col-xl-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
