@if (isAdmin()) {
  <app-skill-list></app-skill-list>
} @else {
  <section
    class="resume-section p-3 p-lg-5 d-flex align-items-center"
    id="skills"
  >
    <div class="w-100">
      <h2 class="mb-5">{{ pageName | translate }}</h2>

      <div class="subheading mb-3">
        {{ subTitle | translate }}
      </div>

      <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        @for (competence of competences; track $index) {
          <div nz-col class="gutter-row" [nzSpan]="6">
            <div class="inner-box" nz-row>
              <div nz-col nzSpan="4">
                <i
                  style="height: 60px; width: 46px"
                  [innerHTML]="
                    competence?.svg
                      ? sanitizedSvg(
                          competence.svg!,
                          '3em',
                          '3em',
                          'blue',
                          'blue'
                        )
                      : null
                  "
                ></i>
              </div>

              <div nz-col nzSpan="20">
                {{ competence.nomCompetence }}
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </section>
}
