@if (isAdmin()) {
  <ng-container>
    <app-education-list></app-education-list>
  </ng-container>
}
@else {
  <section
    class="resume-section p-3 p-lg-5 d-flex align-items-center"
    id="education"
  >
    <div class="w-100">

      <!-- Page title -->
      <h2 class="educations-title">
        {{ pageName | translate }}
      </h2>

      <!-- Education list -->
      @for (institut of instituts; track $index) {

        <div
          class="education-item"
          [style.animation-delay]="$index * 0.12 + 's'"
        >

          <!-- =================================
               Education content
          ================================== -->

          <div class="education-content">

            <!-- Institution -->
            <h3 class="education-institution">

              <span
                nz-icon
                nzType="bank"
                nzTheme="outline"
                class="education-institution-icon"
              ></span>

              <span>
                {{ institut.nom }}
              </span>

            </h3>


            <!-- Diploma -->
            <div class="education-diploma">

              <span
                nz-icon
                nzType="read"
                nzTheme="outline"
                class="education-icon"
              ></span>

              <span>
                {{ institut.diplome | translateField }}
              </span>

            </div>


            <!-- Address -->
            <div class="education-address">

              <span
                nz-icon
                nzType="environment"
                nzTheme="outline"
                class="education-icon"
              ></span>

              <span>
                {{ institut.adresse }}
              </span>

            </div>

          </div>


          <!-- =================================
               Dates + duration
          ================================== -->

          <div class="education-date-container">

            <div class="education-date-info">

              <!-- Start / End dates -->
              <span class="education-dates">

                <span
                  nz-icon
                  nzType="calendar"
                  nzTheme="outline"
                  class="education-date-icon"
                ></span>

                <span>
                  {{ institut.dateDebut }} -
                  {{ institut.dateFin }}
                </span>

              </span>


              <!-- Duration -->
              <!-- <span class="education-duration">

                <span
                  nz-icon
                  nzType="clock-circle"
                  nzTheme="outline"
                  class="education-duration-icon"
                ></span>

                <span>
                  {{ calcDateCalendar(
                    institut.dateDebut,
                    institut.dateFin
                  )?.result }}
                </span>

              </span> -->

            </div>

          </div>

        </div>

      }

    </div>
  </section>
}