<div class="skill-detail">

  <!-- Header -->
  <div class="detail-header">
    <div>
      <h2>{{ competence?.nomCompetence }}</h2>
      <p>{{ 'ADMIN_SKILL_DETAIL.DETAILS_TITLE' | translate }}</p>
    </div>
  </div>

  <!-- Information -->
  <div class="detail-content">

    <div class="detail-section">
      <div class="detail-label">
        {{ 'ADMIN_SKILL_DETAIL.LEVEL' | translate }}
      </div>

      <div class="detail-value">
        {{ competence?.niveau | translateField }}
      </div>
    </div>

    <div class="detail-section">
      <div class="detail-label">
        {{ 'ADMIN_SKILL_DETAIL.DESCRIPTION' | translate }}
      </div>

      <div class="detail-value description">
        {{ competence?.description | translateField }}
      </div>
    </div>

  </div>

  <!-- Actions -->
  <div class="detail-actions">

    <button
      nz-button
      nzType="primary"
      nzDanger
      (click)="onDeleteCompetence()"
    >
      <span nz-icon nzType="delete" nzTheme="outline"></span>
      {{ 'ADMIN_SKILL_DETAIL_BUTTONS.DELETE_SKILL' | translate }}
    </button>

    <button
      nz-button
      nzType="primary"
      (click)="onEditCompetence()"
    >
      <span nz-icon nzType="edit" nzTheme="outline"></span>
      {{ 'ADMIN_SKILL_DETAIL_BUTTONS.EDIT_SKILL' | translate }}
    </button>

  </div>

</div>