@if (isAdmin()) {
  <app-award-list></app-award-list>
}
@else {
  <section class="resume-section awards-section" id="awards">
    <div class="awards-container">

      <h2 class="mb-5">{{ pageName | translate }}</h2>

      <div
        nz-row
        [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
      >
        @for (formation of formations; track $index) {
          <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="6">

            <nz-card
              nzHoverable
              class="award-card"
              [nzCover]="coverTemplate"
            >
              <nz-card-meta
                [nzTitle]="title"
                [nzDescription]="description"
              ></nz-card-meta>
            </nz-card>

            <ng-template #coverTemplate>
              <img
                class="award-image"
                alt="formation"
                [src]="formation.urlImage"
              />
            </ng-template>

            <ng-template #title>
              <div class="award-title">
                <span
                  nz-icon
                  nzType="trophy"
                  nzTheme="outline"
                  class="award-icon"
                ></span>

                <div class="award-name">
                  {{ formation.nomFormation | translateField }}
                </div>
              </div>

              <div class="award-date">
                {{ formation.dateDebut }} - {{ formation.dateFin }}
              </div>
            </ng-template>

            <ng-template #description>
              <div class="award-company">
                <a
                  [href]="formation.siteWeb"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  {{ formation.societe }}
                </a>
              </div>

              <div class="award-address">
                {{ formation.adresse }}
              </div>
            </ng-template>

          </div>
        }
      </div>

    </div>
  </section>
}