@if (isAdmin()) {
  <app-award-list></app-award-list>
}
@else {
  <section
    class="resume-section awards-section"
    id="awards"
  >
    <div class="awards-container">

      <!-- Page title -->
      <h2 class="awards-title">
        {{ pageName | translate }}
      </h2>


      <!-- Awards grid -->
      <div
        nz-row
        [nzGutter]="[16, 16]"
      >

        @for (formation of formations; track $index) {

          <div
            nz-col
            [nzXs]="24"
            [nzSm]="12"
            [nzMd]="8"
            [nzLg]="6"
          >

            <nz-card
              nzHoverable
              class="award-card"
              [nzCover]="coverTemplate"
              [style.animation-delay]="$index * 0.10 + 's'"
            >

              <nz-card-meta
                [nzTitle]="title"
                [nzDescription]="description"
              ></nz-card-meta>

            </nz-card>


            <!-- =================================
                 Award image
            ================================== -->

            <ng-template #coverTemplate>

              <div class="award-image-container">

                <img
                  class="award-image"
                  alt="Award"
                  [src]="formation.urlImage"
                />

              </div>

            </ng-template>


            <!-- =================================
                 Award title
            ================================== -->

            <ng-template #title>

              <div class="award-title">

                <span
                  nz-icon
                  nzType="trophy"
                  nzTheme="outline"
                  class="award-icon"
                ></span>

                <div class="award-name">
                  {{ formation.nomFormation | translateField }}
                </div>

              </div>


              <!-- Award dates -->

              <div class="award-date">

                <span
                  nz-icon
                  nzType="calendar"
                  nzTheme="outline"
                  class="award-date-icon"
                ></span>

                <span>
                  {{ formation.dateDebut }} -
                  {{ formation.dateFin }}
                </span>

              </div>

            </ng-template>


            <!-- =================================
                 Award description
            ================================== -->

            <ng-template #description>

              <div class="award-company">

                <span
                  nz-icon
                  nzType="global"
                  nzTheme="outline"
                  class="award-company-icon"
                ></span>

                <a
                  [href]="formation.siteWeb"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  {{ formation.societe }}
                </a>

              </div>


              <div class="award-address">

                <span
                  nz-icon
                  nzType="environment"
                  nzTheme="outline"
                  class="award-address-icon"
                ></span>

                <span>
                  {{ formation.adresse }}
                </span>

              </div>

            </ng-template>

          </div>

        }

      </div>

    </div>
  </section>
}