<div class="card">
  <div class="card-header">
    <h5 class="mb-0">
      Gestion des projects
    </h5>
  </div>
  <div class="card-body">
    <button type="button" class="btn btn-success" (click)="onNewProject()">New Project</button>
    <button type="button" class="btn btn-primary" (click)="onSaveProjectsData()">Save Data</button>
    <button type="button" class="btn btn-primary" (click)="onFetchProjectsData()">Fetch Data</button>
  </div>
  <div class="row">
    <div class="col-xl-7">
      <div class="list-group" id="list-tab" role="tablist">
        <!--  *ngFor="let projectEl of projects; let i=index" -->
          <!--  | async -->
        @for (projectEl of projects; track $index) {
          <app-project-item [project]="projectEl" [index]="$index">
          </app-project-item>
        }
      </div>
    </div>

    <div class="col-xl-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>