<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="projectForm" (ngSubmit)="onSubmitProject()">

      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!projectForm.valid">Enregistrer</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Société:</label>
            <input type="text" formControlName="societe">
            <br>
            <!--  *ngIf="!projectForm.get('societe').valid &&
 projectForm.get('societe').touched" -->
            @if(!projectForm.get('societe')?.valid &&
            projectForm.get('societe')?.touched){<span>S'il vous plaît entrer une société valide!</span>}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Expérience:</label>
            <input type="text" formControlName="nomExperience">
            <br>
            <!--  *ngIf="!experienceForm.get('nomExperience').valid &&
 experienceForm.get('nomExperience').touched" -->
            @if(!projectForm.get('nomExperience')?.valid &&
            projectForm.get('nomExperience')?.touched){<span>S'il vous plaît entrer une expérience valide!</span>}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Date de début:</label>
            <input type="date" formControlName="dateDebut">
            <br>
            <!--  *ngIf="!experienceForm.get('dateDebut').valid &&
 experienceForm.get('dateDebut').touched" -->
            @if(!projectForm.get('dateDebut')?.valid &&
            projectForm.get('dateDebut')?.touched){<span>S'il vous plaît entrer une date de début valide!</span>}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Date de fin:</label>
            <input type="date" formControlName="dateFin">
            <br>
            <!--  *ngIf="!experienceForm.get('dateFin').valid &&
 experienceForm.get('dateFin').touched" -->
            @if(!projectForm.get('dateFin')?.valid &&
 projectForm.get('dateFin')?.touched){<span>S'il vous plaît entrer une date de fin valide!</span>}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Adresse:</label>
            <input type="text" formControlName="adresse">
            <br>
            <!--  *ngIf="!projectForm.get('adresse')?.valid &&
 projectForm.get('adresse')?.touched" -->
            @if(!projectForm.get('adresse')?.valid &&
 projectForm.get('adresse')?.touched){<span>S'il vous plaît entrer une adresse valide!</span>}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Description:</label>
            <input type="text" formControlName="description">
            <br>
            <!--  *ngIf="!projectForm.get('description')?.valid &&
 projectForm.get('description')?.touched" -->
            @if(!projectForm.get('description')?.valid &&
 projectForm.get('description')?.touched){<span>S'il vous plaît entrer une description valide!</span>}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Url de description:</label>
            <input type="text" formControlName="urlDescription">
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
