@if (formation) {

  <div class="award-detail-container">

    <div class="award-detail-header">

      <div class="award-detail-title">

        <span
          nz-icon
          nzType="trophy"
          nzTheme="outline"
          class="award-detail-icon"
        ></span>

        <div>
          <h3>
            {{ formation.nomFormation | translateField }}
          </h3>

          <div class="award-detail-date">
            {{ formation.dateDebut }} - {{ formation.dateFin }}
          </div>
        </div>

      </div>

    </div>

    <div class="award-detail-information">

      <div class="information-item">
        <span class="information-label">
          {{ 'ADMIN_AWARD_DETAIL.COMPANY' | translate }}
        </span>

        <a
          [href]="formation.siteWeb"
          target="_blank"
          rel="noopener noreferrer"
        >
          {{ formation.societe }}
        </a>
      </div>

      <div class="information-item">
        <span class="information-label">
          {{ 'ADMIN_AWARD_DETAIL.ADDRESS' | translate }}
        </span>

        <span>
          {{ formation.adresse }}
        </span>
      </div>

      @if (formation.siteWeb) {
        <div class="information-item">
          <span class="information-label">
            {{ 'ADMIN_AWARD_DETAIL.WEBSITE' | translate }}
          </span>

          <a
            [href]="formation.siteWeb"
            target="_blank"
            rel="noopener noreferrer"
          >
            {{ formation.siteWeb }}
          </a>
        </div>
      }

    </div>

    <div class="award-detail-actions">

      <button
        nz-button
        nzType="primary"
        (click)="onEditFormation()"
      >
        <span nz-icon nzType="edit"></span>
        {{ 'ADMIN_AWARD_DETAIL_BUTTONS.EDIT_AWARD' | translate }}
      </button>

      <button
        nz-button
        nzDanger
        (click)="onDeleteFormation()"
      >
        <span nz-icon nzType="delete"></span>
        {{ 'ADMIN_AWARD_DETAIL_BUTTONS.DELETE_AWARD' | translate }}
      </button>

    </div>

  </div>

}